@import 'modules/_defaults.scss';
@import 'modules/_grid.scss';
@import 'modules/_normalize.scss';
@import "modules/_clearfix.scss";
@import "modules/_vars.scss";

@import "partials/_nav.scss";
@import "partials/_banner.scss";
@import "partials/_main.scss";
@import "partials/_testimonials.scss";
@import "partials/_explore.scss";
@import "partials/_contact.scss";
@import "partials/_footer.scss";

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 16px;
}

body,html{
  min-height: 100vh;
  background: $light;
}

body {
  font: 400 16px/1.6 $body-font;
  color: $grey-40;
}

h1,h2,h3,h4,h5 {
  font-family: $title-font;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.emph {
  color: $orange-dark;
}

.section-title {
  font-size: 1.375rem;
  text-transform: uppercase;
  color: $violet;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 80px; 
}
