.page-footer {
  padding: 80px 0 40px 0;
  .foot-note {
    margin: 0;
    line-height: 1;
  }
  .social-nav {
    display: block;
    text-align: right;
    padding-right: 15px;
  }
  .social-links {
    margin-left: 20px;
  }
}
