@import "../modules/_vars.scss";

.panel {
  padding: 40px 0;
  margin-top: -80px;
  margin-bottom: 80px;
  color: $violet;
  & > .row {
    display: flex;
  }
  .content-box {
    background: $white;
    padding: 60px;
    position: relative;
    box-shadow: 0 0 43px 24px rgba(#000, 0.07);
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -26px;
      height: 40px;
      width: 40px;
      background: $white;
    }
  }
  .text {
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 2;
  }
  .panel-title {
    font-family: $body-font;
    font-size: 2rem;
  }
  .data-num, .data-text {
    display: inline-block;
    vertical-align: top;
    font-family: $title-font;
  }
  .data-num {
    font-size: 5.5rem;
    line-height: 1;
  }
  .data-text {
    margin-left: 10px;
    color: $grey-40;
    font-size: 1.375rem;
    line-height: 1;
    text-transform: uppercase;
    .perc {
      display: block;
      font-size: 3rem;
      line-height: 1.25;
    }
  }
  .panel-graphics {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.panel-1 {
    .content-box {
      &:before {
        left: -26px;
      }
    }
  }
  &.panel-2 {
    .content-box {
      &:before {
        right: -26px;
      }
    }
  }
}

.process-title {
  padding: 80px 0;
  background-image: url(../img/process-bg.png);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

.process {
  position: relative;
  .process-bg {
    padding: 80px 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
  .process-panels {
    width: 515px;
    background: $white;
    padding: 60px;
    margin-top: 40px;
    margin-bottom: 150px; 
    box-shadow: 0 0 43px 24px rgba(#000, 0.07);
    position: relative;
    z-index: 11;
    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 13;
      height: 50px;
      width: 50px;
      background: $white;
      box-shadow: 0 0 43px 24px rgba(#000, 0.07);
      bottom: -25px;
    }
    &.right {
      margin-right: 0;
      margin-left: auto;
      &:before {
        right: -25px;
      }
    }
    &.left {
      margin-left: 0;
      margin-right: auto;
      &:before {
        left: -25px;
      }
    }
    &:first-child {
      margin-bottom: 210px;
    }
    &.goal:before {
      content: url(../img/goal.png);
    }
  }
  .panel-title {
    color: $orange-dark;
    text-transform: uppercase;
    font-size: 1.375rem;
    margin-top: 0;
  }
  .panel-text {
    color: $violet;
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 2;
    padding-right: 70px;
    &.large {
      opacity: 1;
      font-size: 1.5rem;
      padding-right: 0;
      line-height: 1.6;
      margin: 0;
    }
  }
  .panel-decor {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 4px solid $orange-light;
    border-width: 4px 4px 0 0;
    z-index: 12;
    pointer-events: none;
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      background: $orange-light;
    }
    &:before {
      bottom: -100px;
      right: -4px;
      height: 100px;
      width: 4px;
    }
    &:after {
      bottom: -105px;
      right: -8px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }
  }
}
