@import "../modules/_vars.scss";

.testimonials {
  position: relative;
  background: $orange-dark;
  color: $white;
  padding-top: 40px;
  margin-bottom: 80px;
  max-width: 1080px;
  &:before {
    content: url(../img/quote.png);
    display: block;
    width: 66px;
    height: 62px;
    position: absolute;
    top: -31px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 12;
    box-shadow: 0 0 43px 24px rgba(#000, 0.07);
  }
  .testi-control {
    position:absolute;
    opacity: 0;
    pointer-events: none;
  }
  .arrows {
    position: absolute;
    z-index: 11;
    height: 100%;
    width: 5%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $orange-dark;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
      .testi-arrows {
        transform: rotate(180deg);
      }
    }
  }
  .testi-arrows {
    display: none;
    cursor: pointer;
  }
  #for-testi-1:checked {
    & ~ .slides-wrap .slides {
      margin-left: 0;
    }
    & ~ .arrows.right .testi-arrows[for="for-testi-2"] {
      display: block;
    }
  }
  #for-testi-2:checked {
    & ~ .slides-wrap .slides {
      margin-left:-100%;
    }
    & ~ .arrows.left .testi-arrows[for="for-testi-1"] {
      display: block;
    }
    & ~ .arrows.right .testi-arrows[for="for-testi-3"] {
      display: block;
    }
  }
  #for-testi-3:checked {
    & ~ .slides-wrap .slides {
      margin-left: -200%;
    }
    & ~ .arrows.left .testi-arrows[for="for-testi-2"] {
      display: block;
    }
    & ~ .arrows.right .testi-arrows[for="for-testi-4"] {
      display: block;
    }
  }
  #for-testi-4:checked {
    & ~ .slides-wrap .slides {
      margin-left: -300%;
    }
    & ~ .arrows.left .testi-arrows[for="for-testi-3"] {
      display: block;
    }
  }
  .slides-wrap {
    overflow: hidden;
  }
  .slides {
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 400%;
    white-space: nowrap;
    transition: margin 0.6s ease-out;
    .testi {
      font-size: 1rem;
      display: inline-block;
      width: 25%;
      list-style-type: none;
      text-align: center;
      padding: 40px 5%;
      white-space: normal;
    }
    .testi-title {
      font-size: 1.375rem;
      text-transform: uppercase;
    }
    .testi-text {
      font-style: italic;
      font-size: 0.875rem;
      letter-spacing: 0.5px;
      line-height: 2;
    }
    .testi-credit {
      font-family: $body-font;
      font-weight: bold;
      font-size: 1rem;
      letter-spacing: 0.5px;
      .who {
        display: block;
        font-weight: 300;
        font-size: 0.75rem;
      }
    }
  }
}