$body-font: 'Raleway', Helvetica, Arial, sans-serif;
$title-font: 'Oswald', Helvetica, Arial, sans-serif;
$dark-blue: #283559;
$violet: #333366;
$orange: #E6642B;
$orange-dark: #E86F30;
$orange-light: #FF9524;
$grey-40: #B8B8B8;
$light: #F5F5F5;
$white: #FFFFFF;